// BACKGROUNDS //

$bodyBackground: DarkSlateGrey;
$alertWindowBackground: FloralWhite;
$gamePannelBackground: DarkTurquoise;
$buttonBackground: DarkTurquoise;

// FONTS //
$colorAlertTitle: DarkCyan;
$colorAlertBody: Teal;

$montserrat: 'Montserrat', sans-serif;
$coiny: 'Coiny', cursive;
